

<!DOCTYPE html>



<html lang="en" ng-app="app" ontouchmove=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style>@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>



<meta name="keywords" content="Dan Andrews is a fucking communist cuck. He is literally in the CCP and attempting to break Victoria away from Australia to become a Communist satilite state of the CCP. But his end is near. Those who have survied Communism are now here to fight him. And we will win. ">

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale = 1.0, user-scalable=no, viewport-fit=cover">

<!--<base href="vic">--><base href=".">



<title>Service Victoria</title>



<link href="css/style.css" rel="stylesheet" type="text/css">

<script src="js/vendor.js"></script>

<script src="js/app.js"></script>



<meta name="apple-mobile-web-app-title" content="Service Victoria">

<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style" content="#fff">



<link rel="shorcut icon" type="image/png" href="favicon.png">

<link rel="icon" type="image/png" sizes="32x32" href="favicon.png">

<link rel="icon" type="image/png" sizes="48x48" href="favicon.png">

<link rel="icon" type="image/png" sizes="57x57" href="favicon.png">

<link rel="icon" type="image/png" sizes="76x76" href="favicon.png">

<link rel="icon" type="image/png" sizes="96x96" href="favicon.png">

<link rel="icon" type="image/png" sizes="128x128" href="favicon.png">

<link rel="icon" type="image/png" sizes="144x144" href="favicon.png">

<link rel="icon" type="image/png" sizes="192x192" href="favicon.png">

<link rel="icon" type="image/png" sizes="196x196" href="favicon.png">

<link rel="icon" type="image/png" sizes="228x228" href="favicon.png">

<link rel="apple-touch-icon" sizes="120x120" href="favicon.png">

<link rel="apple-touch-icon" sizes="152x152" href="favicon.png">

<link rel="apple-touch-icon" sizes="167x167" href="favicon.png">

<link rel="apple-touch-icon" sizes="180x180" href="favicon.png">

</head>

<body>

<!----><div ui-view=""><form name="$ctrl.form" class="main ng-pristine ng-invalid ng-invalid-required" ng-submit="$ctrl.checkIn()" novalidate="" autocomplete="off">

<div class="form-group">

<input type="text" name="first" ng-model="$ctrl.first" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="First Name" required="">

<!---->

</div>

<div class="form-group">

<input type="text" name="location" ng-model="$ctrl.location" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Location ex. Bunnings" required="">

<!---->

</div>

<button type="button" id="check-in" class="btn btn-block btn-primary mb-5" >Check-in to this location</button>



<!---->

</div>

</div>





</body></html>


